<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>白泽文库-无弹窗书友最值得收藏的网络小说阅读网</title>
    <meta name="keywords" content="白泽文库,免费小说下载,全本小说阅读,网络小说,全本小说,免费全本小说">
    <meta name="description"
          content="白泽文库最快更新热门网络小说最新章节,推荐最好看的网络小说排行榜,全站阅读无弹窗广告,全本小说免费阅读，最好看的网络小说，尽在白泽文库。">
    <link rel="canonical" th:href="@{${domain}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/site.css" rel="stylesheet">
</head>
<body>
<header class=" navbar navbar-inverse" id="header">
    <div class=" container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
            <a class="navbar-brand-left-none visible-xs" th:href="@{${domain}}"></a>
            <a class="navbar-brand hidden-xs" th:href="@{${domain}}">白泽文库</a>
            <a class="navbar-brand visible-xs" th:href="@{${domain}}">白泽文库</a>
        </div>
        <nav class=" collapse navbar-collapse bs-navbar-collapse" role="navigation" id="nav-header">
            <ul class="nav navbar-nav ">
                <li class=""><a th:href="@{${domain}}">首页</a></li>
                <li class=""><a th:href="@{${domain}}">书库</a></li>
                <li class=""><a th:href="@{${domain}}">排行</a></li>
                <li class=""><a th:href="@{${domain}}">全本</a></li>
                <li class=""><a th:href="@{${domain}}">轨迹</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="search" name="articlesearch"
                  method="get">
                <div class="input-group">
                    <input type="text" class="form-control" size="10" maxlength="50" placeholder="搜索作品" name="searches"
                           required="">
                    <span class="input-group-btn"><button class="btn btn-info" type="submit">搜 索</button></span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right" id="header-login">
                <li><a th:href="@{${domain}}">登录</a></li>
                <li><a th:href="@{${domain}}">注册</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class=" container body-content">
    <div class=" panel panel-default">
        <div class=" panel-heading">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 推荐阅读<a class="pull-right small"
                                                                                     th:href="@{${domain}}">更多 >></a>
        </div>
        <div class=" panel-body">
            <div class=" row">
                <div class="col-xs-4 book-coverlist">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="http://www.ztwx.net/zt/350072/" class="thumbnail"
                               th:style="'background-image:url(/cover/880c78/94/94a7c9e11090066203f9b4a3fc3d640d.jpg)'"
                               target="_blank"></a>
                        </div>
                        <div class="col-sm-7 pl0">
                            <div class="caption">
                                <h4 class=" fs-16 text-muted"><a th:href="'http://www.ztwx.net/zt/350072/'"
                                                                 title="顾秋陈燕" target="_blank">顾秋陈燕</a></h4>
                                <small class="fs-14 text-muted">西楼月</small>
                                <p class="fs-12 text-justify hidden-xs">
                                    天骄之后，红颜当道！这是一个励志的奋斗故事，西楼月笔下的官道，红颜——在斗争中成长，在成长中暧昧，在暧昧中爆发——顾秋的仕途，在风骚中凯歌前进！…</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 book-coverlist">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="http://www.ztwx.net/zt/139061/" class="thumbnail"
                               style="background-image:url(/cover/880c78/c5/c5be15fa89e6f000304d40dcae5b1de2.jpg)"
                               target="_blank"></a>
                        </div>
                        <div class="col-sm-7 pl0">
                            <div class="caption">
                                <h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/139061/"
                                                                title="穿回来的鲛人小O[星际]" target="_blank">穿回来的鲛人小O[星际]</a>
                                </h4>
                                <small class="fs-14 text-muted">云劫</small>
                                <p class="fs-12 text-justify hidden-xs">
                                    云非和同父异母的弟弟发生争执，被推下了楼。再睁开眼睛时，他穿了。他穿越到种种光怪陆离的世界，每一个世界都是深海鲛人他有最美丽的外貌，动听到震慑灵魂的声音。他编制的鲛绡水火不侵，轻薄却是最强战甲。他情绪激动时的泣泪为珠，晶莹剔透蕴含庞大能量，可充为能源。他穿越了多个世界，经历不同人生，然后他又穿回来了。他在医院躺了整整两年，醒来的第一天从Beta分化为了极优Omega，并觉醒了深海鲛人血脉。两年的时</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 book-coverlist">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="http://www.ztwx.net/zt/89362/" class=" thumbnail"
                               style="background-image:url(/cover/880c78/b2/b2d8691625fff803b6ddcdcfe38d9ac4.jpg)"
                               target="_blank"></a>
                        </div>
                        <div class="col-sm-7 pl0">
                            <div class="caption">
                                <h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/89362/"
                                                                title="全球高考" target="_blank">全球高考</a></h4>
                                <small class="fs-14 text-muted">木苏里</small>
                                <p class="fs-12 text-justify hidden-xs">
                                    全球大型高危险性统一考试，简称全球高考。真身刷题，及格活命。考制一月一改革，偶尔随机。梗概：两位大佬对着骚。1v1，HE，通篇鬼扯。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 book-coverlist">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="http://www.ztwx.net/zt/156568/" class=" thumbnail"
                               style="background-image:url(/cover/880c78/a9/a9922e0d616938faefc809e728c2b812.jpg)"
                               target="_blank"></a>
                        </div>
                        <div class="col-sm-7 pl0">
                            <div class="caption">
                                <h4 class=" fs-16 text-muted"><a href="http://www.ztwx.net/zt/156568/"
                                                                 title="今日宜偏爱" target="_blank">今日宜偏爱</a></h4>
                                <small class="fs-14 text-muted">山谷君</small>
                                <p class="fs-12 text-justify hidden-xs">
                                    卓禹安想，舒听澜这姑娘是不是瞎？他若不爱她，何必事事体贴、照顾周到，担心她吃不饱、睡不暖，把她的感受放在第一位？舒听澜看他一眼，淡然回应：“嗯，是我不爱你。”卓禹安被噎住，知道她没心没肺，沉默片刻：“也行吧，不管你爱不爱，我先爱了。”后来，某人被打脸，网上有个调查问卷：你学生时代的学霸，现在怎么样了？舒听澜看了看穿着白衬衫在厨房的卓禹安，轻飘飘敲上一行字：嗯，现在成为我老公了。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 book-coverlist">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="http://www.ztwx.net/zt/284523/" class="thumbnail"
                               style="background-image:url(/cover/880c78/c1/c1bb97a23371a2926958704ae11025bf.jpg)"
                               target="_blank"></a>
                        </div>
                        <div class="col-sm-7 pl0">
                            <div class="caption">
                                <h4 class=" fs-16 text-muted"><a href="http://www.ztwx.net/zt/284523/"
                                                                 title="超级学霸：从低调控分开始！" target="_blank">超级学霸：从低调控分开始！</a>
                                </h4>
                                <small class="fs-14 text-muted">苍穹隐</small>
                                <p class="fs-12 text-justify hidden-xs">
                                    【学霸+系统+控分+黑科技】一场数学突击考，身为学霸的班长只得了50分，校花得了30分，课代表和学习委员更低。但作为上课瞌睡王，食堂干饭王的江南，却狂砍90分，名列第一？？？数学老师：“小子，这下藏不住了吧？”美女班主任：“怎么，你还不摊牌么？”众多童鞋：“南神，你莫非真是隐藏的学霸？？？”江南虚心摆摆手：“大家别猜了，我不是学霸，我只是传说中的控分狂魔而已！！！”……本书又名《别逼我，我只想低调</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 book-coverlist">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="http://www.ztwx.net/zt/137785/" class=" thumbnail"
                               style="background-image:url(/cover/880c78/4e/4e1c283455b4a5d053c4783909ac9999.jpg)"
                               target="_blank"></a>
                        </div>
                        <div class="col-sm-7 pl0">
                            <div class="caption">
                                <h4 class=" fs-16 text-muted"><a href="http://www.ztwx.net/zt/137785/"
                                                                 title="斗罗大陆比比东" target="_blank">斗罗大陆比比东</a>
                                </h4>
                                <small class="fs-14 text-muted">惊羡t1颜貌</small>
                                <p class="fs-12 text-justify hidden-xs">
                                    斗罗大陆上除了有两大帝国和武魂殿外，还有一个势力稍差武魂殿的宗门――裂宇宗，接着就是男主和女主的相依相别……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-4">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 玄幻<a class="pull-right small"
                                                                                               href="http://www.ztwx.net/ztsort/xuanhuan/1.html">更多
                    >></a>
                </div>
                <ul class="list-group list-top">
                    <a th:each="book:${xuanhuan}" th:href="${book.link}" th:title="${book.bookName}"
                       class=" list-group-item" target="_blank">
                        [[${book.bookName}]]
                        <span class="pull-right fs-12" th:text="${book.author}"></span>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-4 pl0">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 仙侠<a class="pull-right small"
                                                                                               href="http://www.ztwx.net/ztsort/xianxia/1.html">更多
                    >></a>
                </div>
                <ul class="list-group list-top">
                    <a href="http://www.ztwx.net/zt/182650/" title="我是截教副教主" class=" list-group-item"
                       target="_blank">我是截教副教主<span class="pull-right fs-12">眸中人</span></a>
                    <a href="http://www.ztwx.net/zt/1960/" title="阴阳变" class=" list-group-item" target="_blank">阴阳变<span
                            class="pull-right fs-12">梦风情</span></a>
                    <a href="http://www.ztwx.net/zt/111058/" title="山海书妖" class=" list-group-item"
                       target="_blank">山海书妖<span class="pull-right fs-12">温三</span></a>
                    <a href="http://www.ztwx.net/zt/63577/" title="鉴宝有术" class=" list-group-item"
                       target="_blank">鉴宝有术<span class="pull-right fs-12">九夫人</span></a>
                    <a href="http://www.ztwx.net/zt/127817/" title="洪荒我开局炖了鲲鹏" class=" list-group-item"
                       target="_blank">洪荒我开局炖了鲲鹏<span class="pull-right fs-12">蛮小强</span></a>
                    <a href="http://www.ztwx.net/zt/65182/" title="枭爷您夫人又掉马甲了" class=" list-group-item"
                       target="_blank">枭爷您夫人又掉马甲了<span class="pull-right fs-12">花沫时</span></a>
                    <a href="http://www.ztwx.net/zt/110701/" title="红色仕途" class=" list-group-item"
                       target="_blank">红色仕途<span class="pull-right fs-12">鸿蒙树</span></a>
                    <a href="http://www.ztwx.net/zt/95520/" title="我在斩妖司除魔三十年" class=" list-group-item"
                       target="_blank">我在斩妖司除魔三十年<span class="pull-right fs-12">贰更</span></a>
                    <a href="http://www.ztwx.net/zt/90312/" title="破云2吞海" class=" list-group-item"
                       target="_blank">破云2吞海<span class="pull-right fs-12">淮上</span></a>
                    <a href="http://www.ztwx.net/zt/468/" title="最强修仙系统" class=" list-group-item"
                       target="_blank">最强修仙系统<span class="pull-right fs-12">奇异橘子</span></a>
                </ul>
            </div>
        </div>
        <div class="col-md-4 pl0">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 都市<a class="pull-right small"
                                                                                               href="http://www.ztwx.net/ztsort/dushi/1.html">更多
                    >></a>
                </div>
                <ul class="list-group list-top">
                    <a href="http://www.ztwx.net/zt/69265/" title="都市沉浮" class=" list-group-item"
                       target="_blank">都市沉浮<span class="pull-right fs-12">易克1</span></a>
                    <a href="http://www.ztwx.net/zt/157967/" title="上瘾" class=" list-group-item"
                       target="_blank">上瘾<span class="pull-right fs-12">今婳</span></a>
                    <a href="http://www.ztwx.net/zt/226708/" title="李铁牛余小曼" class=" list-group-item"
                       target="_blank">李铁牛余小曼<span class="pull-right fs-12">春歌</span></a>
                    <a href="http://www.ztwx.net/zt/189739/" title="烈焰鸳鸯" class=" list-group-item"
                       target="_blank">烈焰鸳鸯<span class="pull-right fs-12">咬春饼</span></a>
                    <a href="http://www.ztwx.net/zt/439496/" title="霸总今天rua水獭了吗" class=" list-group-item"
                       target="_blank">霸总今天rua水獭了<span class="pull-right fs-12">是墨痕子</span></a>
                    <a href="http://www.ztwx.net/zt/68174/" title="做局" class=" list-group-item" target="_blank">做局<span
                            class="pull-right fs-12">易克1</span></a>
                    <a href="http://www.ztwx.net/zt/130961/" title="护国神帅" class=" list-group-item"
                       target="_blank">护国神帅<span class="pull-right fs-12">洪荒姐姐</span></a>
                    <a href="http://www.ztwx.net/zt/108183/" title="势不可挡" class=" list-group-item"
                       target="_blank">势不可挡<span class="pull-right fs-12">柴鸡蛋</span></a>
                    <a href="http://www.ztwx.net/zt/52843/" title="大王饶命" class=" list-group-item"
                       target="_blank">大王饶命<span class="pull-right fs-12">会说话的肘子</span></a>
                    <a href="http://www.ztwx.net/zt/284523/" title="超级学霸：从低调控分开始！" class=" list-group-item"
                       target="_blank">超级学霸：从低调控分<span class="pull-right fs-12">苍穹隐</span></a>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 历史<a class="pull-right small"
                                                                                               href="http://www.ztwx.net/ztsort/lishi/1.html">更多
                    >></a>
                </div>
                <ul class="list-group list-top">
                    <a href="http://www.ztwx.net/zt/182926/" title="世子凶猛" class=" list-group-item"
                       target="_blank">世子凶猛<span class="pull-right fs-12">菲硕莫薯</span></a>
                    <a href="http://www.ztwx.net/zt/99196/" title="穿越到1931" class=" list-group-item"
                       target="_blank">穿越到1931<span class="pull-right fs-12">醉卧人生</span></a>
                    <a href="http://www.ztwx.net/zt/91455/" title="神奇宝贝之叶幽" class=" list-group-item"
                       target="_blank">神奇宝贝之叶幽<span class="pull-right fs-12">僧道不信邪</span></a>
                    <a href="http://www.ztwx.net/zt/179414/" title="史上第一废太子周恒" class=" list-group-item"
                       target="_blank">史上第一废太子周恒<span class="pull-right fs-12">黄河落日圆</span></a>
                    <a href="http://www.ztwx.net/zt/108711/" title="军火大亨" class=" list-group-item"
                       target="_blank">军火大亨<span class="pull-right fs-12">不知之何处</span></a>
                    <a href="http://www.ztwx.net/zt/124221/" title="革清" class=" list-group-item"
                       target="_blank">革清<span class="pull-right fs-12">绯红之月</span></a>
                    <a href="http://www.ztwx.net/zt/68074/" title="扛着AK闯大明" class=" list-group-item"
                       target="_blank">扛着AK闯大明<span class="pull-right fs-12">行者寒寒</span></a>
                    <a href="http://www.ztwx.net/zt/201957/" title="大秦：刚成神祗，开局点化秦始皇" class=" list-group-item"
                       target="_blank">大秦：刚成神祗，开局<span class="pull-right fs-12">鸿鹄不屈</span></a>
                    <a href="http://www.ztwx.net/zt/269850/" title="大秦：不装了，你爹我是秦始皇" class=" list-group-item"
                       target="_blank">大秦：不装了，你爹我<span class="pull-right fs-12">头顶一只喵喵</span></a>
                    <a href="http://www.ztwx.net/zt/56213/" title="崇祯十五年" class=" list-group-item"
                       target="_blank">崇祯十五年<span class="pull-right fs-12">韭菜东南生</span></a>
                </ul>
            </div>
        </div>
        <div class="col-md-4 pl0">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 网游<a class="pull-right small"
                                                                                               href="http://www.ztwx.net/ztsort/wangyou/1.html">更多
                    >></a>
                </div>
                <ul class="list-group list-top">
                    <a href="http://www.ztwx.net/zt/127886/" title="网游开局获得神级天赋" class=" list-group-item"
                       target="_blank">网游开局获得神级天赋<span class="pull-right fs-12">亦晨</span></a>
                    <a href="http://www.ztwx.net/zt/60383/" title="我在绝地求生捡碎片" class=" list-group-item"
                       target="_blank">我在绝地求生捡碎片<span class="pull-right fs-12">清酒半壶</span></a>
                    <a href="http://www.ztwx.net/zt/1481/" title="网游之异界星凌绝恋" class=" list-group-item"
                       target="_blank">网游之异界星凌绝恋<span class="pull-right fs-12">心境止者</span></a>
                    <a href="http://www.ztwx.net/zt/69143/" title="大唐开局震惊了李世民" class=" list-group-item"
                       target="_blank">大唐开局震惊了李世民<span class="pull-right fs-12">坐望南山</span></a>
                    <a href="http://www.ztwx.net/zt/85164/" title="我在明末有套房" class=" list-group-item"
                       target="_blank">我在明末有套房<span class="pull-right fs-12">tx程志</span></a>
                    <a href="http://www.ztwx.net/zt/53832/" title="亏成首富从游戏开始" class=" list-group-item"
                       target="_blank">亏成首富从游戏开始<span class="pull-right fs-12">青衫取醉</span></a>
                    <a href="http://www.ztwx.net/zt/63018/" title="逍遥小地主" class=" list-group-item"
                       target="_blank">逍遥小地主<span class="pull-right fs-12">堵上西楼</span></a>
                    <a href="http://www.ztwx.net/zt/91739/" title="公子凶猛" class=" list-group-item"
                       target="_blank">公子凶猛<span class="pull-right fs-12">堵上西楼</span></a>
                    <a href="http://www.ztwx.net/zt/132357/" title="游戏世界的巅峰" class=" list-group-item"
                       target="_blank">游戏世界的巅峰<span class="pull-right fs-12">手抓面条</span></a>
                    <a href="http://www.ztwx.net/zt/51144/" title="次元法典" class=" list-group-item"
                       target="_blank">次元法典<span class="pull-right fs-12">西贝猫</span></a>
                </ul>
            </div>
        </div>
        <div class="col-md-4 pl0">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 科幻<a class="pull-right small"
                                                                                               href="http://www.ztwx.net/ztsort/kehuan/1.html">更多
                    >></a>
                </div>
                <ul class="list-group list-top">
                    <a href="http://www.ztwx.net/zt/423125/" title="末世：开局秒杀进化药剂" class=" list-group-item"
                       target="_blank">末世：开局秒杀进化药<span class="pull-right fs-12">我不喝雪碧</span></a>
                    <a href="http://www.ztwx.net/zt/284024/" title="时间暂停以后我为所欲为（无限）" class=" list-group-item"
                       target="_blank">时间暂停以后我为所欲<span class="pull-right fs-12">青丘千夜</span></a>
                    <a href="http://www.ztwx.net/zt/114358/" title="穿书之逆改人生" class=" list-group-item"
                       target="_blank">穿书之逆改人生<span class="pull-right fs-12">叶忆落</span></a>
                    <a href="http://www.ztwx.net/zt/234992/" title="道魔" class=" list-group-item"
                       target="_blank">道魔<span class="pull-right fs-12">沈默</span></a>
                    <a href="http://www.ztwx.net/zt/61675/" title="寻龙天师" class=" list-group-item"
                       target="_blank">寻龙天师<span class="pull-right fs-12">风尘散人</span></a>
                    <a href="http://www.ztwx.net/zt/299849/" title="人在四合院诸天签到" class=" list-group-item"
                       target="_blank">人在四合院诸天签到<span class="pull-right fs-12">我是大魔王.</span></a>
                    <a href="http://www.ztwx.net/zt/296732/" title="经历电影世界" class=" list-group-item"
                       target="_blank">经历电影世界<span class="pull-right fs-12">南山隐山南</span></a>
                    <a href="http://www.ztwx.net/zt/353688/" title="末世甜宠：大佬罩我超强的" class=" list-group-item"
                       target="_blank">末世甜宠：大佬罩我超<span class="pull-right fs-12">墨重华</span></a>
                    <a href="http://www.ztwx.net/zt/52460/" title="快穿女配向前冲" class=" list-group-item"
                       target="_blank">快穿女配向前冲<span class="pull-right fs-12">君笙</span></a>
                    <a href="http://www.ztwx.net/zt/354405/" title="蛇棺" class=" list-group-item"
                       target="_blank">蛇棺<span class="pull-right fs-12">耕风</span></a>
                </ul>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-4">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 最新入库<a
                        class="pull-right small"
                        href="http://www.ztwx.net/zttop/postdate.html">更多 >></a>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">科幻</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459326/" title="历史修正录" target="_blank">历史修正录</a>
                        </td>
                        <td class="text-right fs-12" title="艾德文">艾德文</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">其他</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459321/" title="红皮子"
                                        target="_blank">红皮子</a></td>
                        <td class="text-right fs-12" title="龙泉里46">龙泉里4</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">玄幻</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459346/" title="阿拉德的大法师阁下" target="_blank">阿拉德的大法师阁下</a>
                        </td>
                        <td class="text-right fs-12" title="梦入苏州夜凄">梦入苏州</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">都市</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459330/" title="夜月铭"
                                        target="_blank">夜月铭</a></td>
                        <td class="text-right fs-12" title="林之若闻子">林之若闻</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">其他</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459318/" title="在柯南里开直播"
                                        target="_blank">在柯南里开直播</a>
                        </td>
                        <td class="text-right fs-12" title="是阿春呀">是阿春呀</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">玄幻</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459335/" title="挑灯引仙行" target="_blank">挑灯引仙行</a>
                        </td>
                        <td class="text-right fs-12" title="恒嫣">恒嫣</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">言情</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459317/" title="后霜雪"
                                        target="_blank">后霜雪</a></td>
                        <td class="text-right fs-12" title="萱草白糖">萱草白糖</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">仙侠</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459328/" title="我有一条气运神河"
                                        target="_blank">我有一条气运神河</a>
                        </td>
                        <td class="text-right fs-12" title="风九焰">风九焰</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">灵异</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459343/" title="我被迫当上怪人"
                                        target="_blank">我被迫当上怪人</a>
                        </td>
                        <td class="text-right fs-12" title="龟虚山靓仔">龟虚山靓</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">科幻</td>
                        <td class=""><a href="http://www.ztwx.net/zt/459345/" title="从植物大战僵尸空间开始"
                                        target="_blank">从植物大战僵尸空间</a></td>
                        <td class="text-right fs-12" title="噬仙道魔">噬仙道魔</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 最新资讯
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702555.html" title="历战王弟弟龙"
                                        target="_blank">历战王弟弟龙</a></td>
                    </tr>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702559.html" title="我六岁成为幕后大佬"
                                        target="_blank">我六岁成为幕后大佬</a></td>
                    </tr>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702554.html" title="战王虎婿 小说"
                                        target="_blank">战王虎婿 小说</a></td>
                    </tr>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702539.html" title="离婚之后前夫总是想追我"
                                        target="_blank">离婚之后前夫总是想追我</a></td>
                    </tr>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702545.html" title="末世全能战神TXT"
                                        target="_blank">末世全能战神TXT</a></td>
                    </tr>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702561.html" title="霍格沃兹的灰烬起点"
                                        target="_blank">霍格沃兹的灰烬起点</a></td>
                    </tr>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702542.html" title="末世全能战神最新章节"
                                        target="_blank">末世全能战神最新章节</a></td>
                    </tr>
                    <tr>
                        <td class=""><a href="http://www.ztwx.net/zt/1702535.html" title="爱你三生三世的歌词"
                                        target="_blank">爱你三生三世的歌词</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 pl0">
            <div class=" panel panel-default">
                <div class=" panel-heading">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 最近更新<a class="pull-right small"
                                                                                             href="http://www.ztwx.net/ztsort/">更多
                    >></a>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">都市</td>
                        <td class=""><a href="http://www.ztwx.net/zt/182543/" title="叶凡唐若雪医婿"
                                        target="_blank">叶凡唐若雪医婿</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/182543/2149.html" title="第两千两百零六章 多年恩怨"
                                                 target="_blank">第两千两百零六章 多年恩怨</a></td>
                        <td class="text-right fs-12" title="叶凡">叶凡</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">其他</td>
                        <td class=""><a href="http://www.ztwx.net/zt/50582/" title="抗日之暴力军团" target="_blank">抗日之暴力军团</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/50582/4122.html" title="第3423章 你是想分道扬镳吗？"
                                                 target="_blank">第3423章 你是想分道扬镳吗？</a></td>
                        <td class="text-right fs-12" title="千煌">千煌</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">其他</td>
                        <td class=""><a href="http://www.ztwx.net/zt/259718/" title="超级透视"
                                        target="_blank">超级透视</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/259718/3826.html" title="第430章 黎贞熙的机会"
                                                 target="_blank">第430章 黎贞熙的机会</a></td>
                        <td class="text-right fs-12" title="空骑">空骑</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">言情</td>
                        <td class=""><a href="http://www.ztwx.net/zt/266505/" title="重生后，姐财务自由了"
                                        target="_blank">重生后，姐财务自</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/266505/85.html" title="第85章 游园会"
                                                 target="_blank">第85章 游园会</a></td>
                        <td class="text-right fs-12" title="维她柠萌茶">维她柠萌茶</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">科幻</td>
                        <td class=""><a href="http://www.ztwx.net/zt/50692/" title="我在异界有座城" target="_blank">我在异界有座城</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/50692/4071.html" title="第3880章 引敌入坑"
                                                 target="_blank">第3880章 引敌入坑</a></td>
                        <td class="text-right fs-12" title="寒慕白">寒慕白</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">言情</td>
                        <td class=""><a href="http://www.ztwx.net/zt/112807/" title="穿越后变成了农家老太太"
                                        target="_blank">穿越后变成了农家</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/112807/351.html" title="第351章：还有这么多漏网之鱼？"
                                                 target="_blank">第351章：还有这么多漏网之鱼？</a></td>
                        <td class="text-right fs-12" title="小窥吃吃">小窥吃吃</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">都市</td>
                        <td class=""><a href="http://www.ztwx.net/zt/411842/" title="都市荣耀战神" target="_blank">都市荣耀战神</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/411842/1029.html" title="第一千零三十一章 王家大门"
                                                 target="_blank">第一千零三十一章 王家大门</a></td>
                        <td class="text-right fs-12" title="离殃初心">离殃初心</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">仙侠</td>
                        <td class=""><a href="http://www.ztwx.net/zt/389695/" title="以仙破天"
                                        target="_blank">以仙破天</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/389695/96.html" title="第二卷 苍空门 第97章 分离"
                                                 target="_blank">第二卷 苍空门 第97章 分离</a></td>
                        <td class="text-right fs-12" title="石宏一方">石宏一方</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">言情</td>
                        <td class=""><a href="http://www.ztwx.net/zt/193023/" title="暴君的咸鱼娇妃是个撒娇精"
                                        target="_blank">暴君的咸鱼娇妃是</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/193023/321.html" title="第322章 任何人都不能进去打扰她"
                                                 target="_blank">第322章 任何人都不能进去打扰</a></td>
                        <td class="text-right fs-12" title="蔓妃">蔓妃</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">言情</td>
                        <td class=""><a href="http://www.ztwx.net/zt/256351/" title="穿书后被迫成为大佬"
                                        target="_blank">穿书后被迫成为大</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/256351/87.html" title="第88章 ，你果然对我一见钟情"
                                                 target="_blank">第88章 ，你果然对我一见钟情</a></td>
                        <td class="text-right fs-12" title="书墨染香">书墨染香</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">仙侠</td>
                        <td class=""><a href="http://www.ztwx.net/zt/442199/" title="能看进度条" target="_blank">能看进度条</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/442199/15.html" title="第十五章 静心丹"
                                                 target="_blank">第十五章 静心丹</a></td>
                        <td class="text-right fs-12" title="白衣不似雪">白衣不似雪</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">玄幻</td>
                        <td class=""><a href="http://www.ztwx.net/zt/370884/" title="北梁狂人"
                                        target="_blank">北梁狂人</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/370884/94.html" title="天道宗 第八十九章 偷师"
                                                 target="_blank">天道宗 第八十九章 偷师</a></td>
                        <td class="text-right fs-12" title="潘稼道">潘稼道</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">其他</td>
                        <td class=""><a href="http://www.ztwx.net/zt/58673/" title="首席继承人陈平" target="_blank">首席继承人陈平</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/58673/2941.html" title="第2956章，蛇群来袭！"
                                                 target="_blank">第2956章，蛇群来袭！</a></td>
                        <td class="text-right fs-12" title="会抽烟的于大爷">会抽烟的于大</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">仙侠</td>
                        <td class=""><a href="http://www.ztwx.net/zt/449582/" title="长生从金刚寺开始"
                                        target="_blank">长生从金刚寺开始</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/449582/17.html" title="第17章 手印"
                                                 target="_blank">第17章 手印</a></td>
                        <td class="text-right fs-12" title="萧舒">萧舒</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">其他</td>
                        <td class=""><a href="http://www.ztwx.net/zt/73421/" title="谁动了我的韭菜" target="_blank">谁动了我的韭菜</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/73421/125.html" title="第122章 极安"
                                                 target="_blank">第122章 极安</a></td>
                        <td class="text-right fs-12" title="一刀斩斩斩">一刀斩斩斩</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">言情</td>
                        <td class=""><a href="http://www.ztwx.net/zt/449206/" title="第一宠婚四少宠妻无下限"
                                        target="_blank">第一宠婚四少宠妻</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/449206/1100.html" title="第1100章：心底的人，失控的心"
                                                 target="_blank">第1100章：心底的人，失控的心</a></td>
                        <td class="text-right fs-12" title="张依沫">张依沫</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">言情</td>
                        <td class=""><a href="http://www.ztwx.net/zt/454063/" title="逃离荆棘"
                                        target="_blank">逃离荆棘</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/454063/5.html" title="05" target="_blank">05</a>
                        </td>
                        <td class="text-right fs-12" title="四沂">四沂</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">仙侠</td>
                        <td class=""><a href="http://www.ztwx.net/zt/290743/" title="小民江湖"
                                        target="_blank">小民江湖</a></td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/290743/184.html" title="第183章 信心"
                                                 target="_blank">第183章 信心</a></td>
                        <td class="text-right fs-12" title="茵陈佐酒">茵陈佐酒</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">仙侠</td>
                        <td class=""><a href="http://www.ztwx.net/zt/293731/" title="江湖大财主" target="_blank">江湖大财主</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/293731/121.html" title="第121章 习以为常"
                                                 target="_blank">第121章 习以为常</a></td>
                        <td class="text-right fs-12" title="白马出淤泥">白马出淤泥</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    <tr>
                        <td class="text-muted hidden-xs" width="48">其他</td>
                        <td class=""><a href="http://www.ztwx.net/zt/107650/" title="医婿" target="_blank">医婿</a>
                        </td>
                        <td class="hidden-xs"><a href="http://www.ztwx.net/zt/107650/2064.html" title="第两千两百零六章 多年恩怨"
                                                 target="_blank">第两千两百零六章 多年恩怨</a></td>
                        <td class="text-right fs-12" title="叶凡">叶凡</td>
                        <td class="fs-12 hidden-xs" width="72">4小时前</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- footer -->
<span style="display:none">本页面更新于2021-07-09 16:20:56</span>
<footer class=" text-center">
    <p class="hidden-xs">本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
    <p class="hidden-xs">Copyright © 2021 白泽文库 All Rights Reserved.</p>
    <p class="visible-xs">本站所有小说均由程序自动从搜索引擎索引</p>
    <p class="visible-xs">Copyright © 2021 白泽文库</p>
    <div class="clear"></div>
</footer>
<div class="back-to-top" id="back-to-top" title="返回顶部" style="right: 10px; bottom: 10%;">
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
</div>

<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="./js/common.js"></script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b9052b6f7b67df16f5c2a9a9fbbd9126";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s)
})();</script>
<script>(function () {
    var canonicalURL, curProtocol;
    var x = document.getElementsByTagName("link");
    if (x.length > 0) {
        for (i = 0; i < x.length; i++) {
            if (x[i].rel.toLowerCase() == 'canonical' && x[i].href) {
                canonicalURL = x[i].href
            }
        }
    }
    if (!canonicalURL) {
        curProtocol = window.location.protocol.split(':')[0]
    } else {
        curProtocol = canonicalURL.split(':')[0]
    }
    if (!canonicalURL) canonicalURL = window.location.href;
    !function () {
        var e = /([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi, r = canonicalURL, t = document.referrer;
        if (!e.test(r)) {
            var n = (String(curProtocol).toLowerCase() === 'https') ? "https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif" : "//api.share.baidu.com/s.gif";
            t ? (n += "?r=" + encodeURIComponent(document.referrer), r && (n += "&l=" + r)) : r && (n += "?l=" + r);
            var i = new Image;
            i.src = n
        }
    }(window)
})();
var bp = document.createElement('script');
var curProtocol = window.location.protocol.split(':')[0];
if (curProtocol === 'https') {
    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js'
} else {
    bp.src = 'http://push.zhanzhang.baidu.com/push.js'
}
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(bp, s);</script>

</body>
</html>