<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>小说搜索 - 白泽文库</title>
	<meta name="robots" content="noindex,follow">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="renderer" content="webkit">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="320">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/site.css" rel="stylesheet">
</head>

<body>
	<header class="navbar navbar-inverse" id="header">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
					data-target=".bs-navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span></button>
				<a class="navbar-brand-left visible-xs" href="javascript:history.go(-1);">&lt;</a>
				<a class="navbar-brand hidden-xs" href="http://www.ztwx.net/">白泽文库</a>
				<a class="navbar-brand visible-xs">小说搜索</a>
			</div>
			<nav class="navbar_880 collapse navbar-collapse bs-navbar-collapse" role="navigation" id="nav-header">
				<ul class="nav navbar-nav nav_880">
					<li class="880_index"><a href="http://www.ztwx.net/">首页</a></li>
					<li class="880_all"><a href="http://www.ztwx.net/ztsort/">书库</a></li>
					<li class="880_top"><a href="http://www.ztwx.net/zttop/">排行</a></li>
					<li class="880_over"><a href="http://www.ztwx.net/quanben/ztsort/">全本</a></li>
					<li class="880_bookcase"><a href="http://www.ztwx.net/home/index/bookcase/">轨迹</a></li>
				</ul>
				<form class="search_880 navbar-form navbar-left" action="http://www.ztwx.net/search/"
					name="articlesearch" method="get">
					<div class="input-group">
						<input type="text" class="form-control" size="10" maxlength="50" placeholder="搜索作品"
							name="searchkey" required="">
						<span class="input-group-btn"><button class="btn btn-info" type="submit">搜 索</button></span>
					</div>
				</form>
				<ul class="login_880 nav navbar-nav navbar-right" id="header-login">
					<li><a href="http://www.ztwx.net/login/">登录</a></li>
					<li><a href="http://www.ztwx.net/register/">注册</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container body-content">
		<ol class="breadcrumb hidden-xs">
			<li><a href="http://www.ztwx.net/" title="白泽文库"><i class="glyphicon glyphicon-home fs-14"
						aria-hidden="true"></i> 首页</a></li>
			<li class="active">小说搜索</li>
		</ol>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 与“asadsa”有关的小说
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/312009/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/91/91c4074027ffc40050d2b9c98527a905.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/312009/"
											title="异界的魔导士兵">异界的魔导士兵</a></h4>
									<small class="fs-14 text-muted">Asada</small>
									<p class="fs-12 text-justify hidden-xs">魔兽践踏，巨龙咆哮，巫师诅咒，魔法璀璨之光照耀知识灯塔！</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/78291/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/14/14284f84bc4db1a45cb9d177677e7300.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/78291/"
											title="拾荒者纪元">拾荒者纪元</a></h4>
									<small class="fs-14 text-muted">badsir</small>
									<p class="fs-12 text-justify hidden-xs">
										黑洞纪元之后魔法在世界消失，但是魔法文明对世界的影响依然存在，那个时代璀璨的痕迹也并没有全部毁灭，很大一部分还深深的埋在地下，等待着重见天日的一天。已经退隐的传奇宝藏猎人夏伦，因为突然的麻烦而被迫重出江湖，但是却在解决麻烦的过程中意外发现了一个自上古魔法时代起便存在的惊天秘闻，并由此卷入了一场波澜壮阔的史诗级冒险。在发掘研究历史的途中，你也在创造着历史。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/128711/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/60/602119484e45f73b42cb248e1c1a7e90.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/128711/"
											title="重生后被死对头抱了个满怀">重生后被死对头抱了个满怀</a></h4>
									<small class="fs-14 text-muted">Sasuke大校</small>
									<p class="fs-12 text-justify hidden-xs">
										前世，顾南夏被挚爱的枕边人与绿茶联合陷害，在分娩之时惨死，一尸两命！重生回到了十年前。家里有矿，还身怀精湛医术！对病人心怀仁爱，对仇人冷血无情！且看她如何脚踩极品，手撕伪善圣母白莲花，狂斗各路心机绿茶！只是……某个前世死对头，说好的井水不犯河水——以和为贵呢？你忒么搂搂抱抱又亲亲的……？！Stop！！某大佬：“来吧，媳妇儿，带你装X带你飞！带你一起虐渣渣！”“装X、带我飞、虐渣都行！但……你能不能
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/256457/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/ba/ba5a385fef8b4cd55eeeafc2a37db4e0.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/256457/"
											title="现世之门">现世之门</a></h4>
									<small class="fs-14 text-muted">Salz</small>
									<p class="fs-12 text-justify hidden-xs">【2017灵异中元祭泛题材征文】参赛作品</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/390424/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/public/img/nocover.svg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/390424/"
											title="晶武独尊">晶武独尊</a></h4>
									<small class="fs-14 text-muted">closeads</small>
									<p class="fs-12 text-justify hidden-xs">这是一个废柴偶然间发现自己很强，所以一路升级打遍天下无敌手的故事</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/237781/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/public/img/nocover.svg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/237781/"
											title="都市修仙之吃我一爪">都市修仙之吃我一爪</a></h4>
									<small class="fs-14 text-muted">sad_fa</small>
									<p class="fs-12 text-justify hidden-xs">一个失败后再次修仙，而意外的发现自己的不同，而引发的另类修仙之旅</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/307191/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/64/641bd7cef0abbbe2805064c99de0b086.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/307191/"
											title="仙灵">仙灵</a></h4>
									<small class="fs-14 text-muted">迷途san</small>
									<p class="fs-12 text-justify hidden-xs">
										大难不死的萧然第一次发现了还有仙灵的存在，懵懵懂懂的闯了进去，才知道，这世界真的是有飞天遁地的仙人，更有大显神通的精魄以及数之不尽的妖兽。如果人生可以再来一次，那必然是轰轰烈烈才不虚此行。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/227265/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/public/img/nocover.svg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/227265/"
											title="不灭之密">不灭之密</a></h4>
									<small class="fs-14 text-muted">sad_fa</small>
									<p class="fs-12 text-justify hidden-xs">
										：一次偶然的徒步，让不认识的三人，阴差阳错的聚集在了一起，引出了一起不为人知的事件和不为人知的世界深渊中的华丽巨城，又是何人所建，华丽的灯光在深渊闪烁，血色的诡异草原，为何会没人能够的见，青色的古铜世界，又在诉说着何种的苍凉，还有那个亦幻亦真的天门，背后又有那些不为人知的秘密。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/91331/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/3a/3a637b9f6ea95958a2b6171a52309fab.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/91331/"
											title="冥之瞳">冥之瞳</a></h4>
									<small class="fs-14 text-muted">SAMA</small>
									<p class="fs-12 text-justify hidden-xs">
										他，一出生就被丢弃在偏远山村里，幸得好心人收养。5岁那年被送到村里老驼背家寄养，才发现自己有双特殊的眼睛，能看清这世界别人无法知道的东西。于是在老驼背的指点下，学习各种技能。18岁那年，带着老驼背给的三个锦囊开始闯荡江湖，从此收鬼魅，破血咒，抓妖人，走向了人生巅峰
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/176150/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/75/758183e541930e521ec62e1b9a19b690.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/176150/"
											title="长夜游">长夜游</a></h4>
									<small class="fs-14 text-muted">昊王SAMA</small>
									<p class="fs-12 text-justify hidden-xs">
										在这入目入心的黑夜中，看不到，听不见，摸不着。找不到路也看不见光，只有靠自己，在这泥沼里挣扎，踽踽独行。江湖路远，儿女情长。世上本无良人，吾名无善，定以手中刀剑铲奸除恶！刻骨铭心的血海深仇，错综复杂的环环关系，层出不穷的诡谲组织，江湖险恶，何处才是吾乡？
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/270050/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/be/be00740d5027e2ca095d39c08bb3ca82.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/270050/"
											title="灵震青云">灵震青云</a></h4>
									<small class="fs-14 text-muted">Sasa颖仔</small>
									<p class="fs-12 text-justify hidden-xs">
										作为同辈中数一数二的武学奇才，“何疯子”何远得到了一枚异世神器，穿越到了依靠灵力修炼的青云大陆。修炼、医毒、兄弟、情义、算计……一步步卷入纷争的何远，开启了他跌宕起伏的一生。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/113433/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/ae/ae72c16fbe185daaf282b0d82172bc40.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/113433/"
											title="战术天才">战术天才</a></h4>
									<small class="fs-14 text-muted">closeads</small>
									<p class="fs-12 text-justify hidden-xs">
										电子竞技职业选手林燃星意外进入了自己了如指掌的游戏之中，呃......从此这个宇宙中最伟大的战术天才诞生了。所以我们的主人公将要完成比美少女战士更伟大的事业——代表人类消灭泽格虫族与普罗托斯神族。三分幽默，三分热血，三分专业，还有一点点的新鲜感，希望您能喜欢。…
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/263876/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/4b/4b7e78954881327d4bbd9682fbf3168b.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/263876/"
											title="三灾">三灾</a></h4>
									<small class="fs-14 text-muted">Musae</small>
									<p class="fs-12 text-justify hidden-xs">时代变迁，世界的主宰者换了一批又一批，这是一整个时代的故事。</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/434408/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/public/img/nocover.svg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/434408/"
											title="荼蘼绝恋">荼蘼绝恋</a></h4>
									<small class="fs-14 text-muted">LisaJ</small>
									<p class="fs-12 text-justify hidden-xs">
										“我最后问你一遍：你到底相不相信我？”她一瞬间的犹豫，改变了她和他一生的命运！一念之差，悔其一世！她这刹那之间的彷徨，令他绝望凄苦、心灰意冷！“恩断义绝！再无瓜葛！”是他对她说的最后一句话。那年夏天，荼蘼花正开，她与他，在排除了千难万挠，决心牵手与共、共度一生时，却因她猜忌心重、…
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/151770/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/3e/3e6f5b839d39974c8d3d0202c94d2164.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/151770/"
											title="青春留下的诗">青春留下的诗</a></h4>
									<small class="fs-14 text-muted">莫凡ads</small>
									<p class="fs-12 text-justify hidden-xs">
										我是一个平凡的人，没有经历过大事，也没有多厉害的本事。但我愿意向你分享我的故事，讲述最真实的自己，你愿意听嘛？</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/126837/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/96/968396aa352994c2411e8d4fc6acf623.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/126837/"
											title="漫威之我是毒液">漫威之我是毒液</a></h4>
									<small class="fs-14 text-muted">Hasai</small>
									<p class="fs-12 text-justify hidden-xs">
										我叫艾迪·布洛克，对，就是被彼得帕克弄失业的那个。“艾迪，我想打他。”“算了，毒液，你打了他，就会有穿铁壳子的，穿皮衣的，浑身冒绿光的，拿盾牌的……”“行了，艾迪，别说了，不打了，不打了。”坐在对面的尼克眉头一皱，发现事情并不简单。（扣扣群：）
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/286520/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/ef/ef2c69870b2cf5db6c1977a26442cfda.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/286520/"
											title="Sales夫妇">Sales夫妇</a></h4>
									<small class="fs-14 text-muted">右耳</small>
									<p class="fs-12 text-justify hidden-xs">
										作为酒业里极其罕见的女销售高管，赵玫一度天真的认为，很多所谓的性骚扰——尤其是职场上的性骚扰——很大程度上是从你情我愿开始，最后才变成了撕破脸面的指控和辩解。直到这一次，性骚扰真的发生在她的眼前……
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/226305/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/28/289b7ed63ad557bd50934873e72465e2.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/226305/"
											title="普通美国丽人">普通美国丽人</a></h4>
									<small class="fs-14 text-muted">MsAdele</small>
									<p class="fs-12 text-justify hidden-xs"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/172075/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/fe/fe351d25fb94473e60319cbba72c7e57.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/172075/"
											title="北门关">北门关</a></h4>
									<small class="fs-14 text-muted">藏光SAMA</small>
									<p class="fs-12 text-justify hidden-xs">
										天时不利，青叶大陆，灾祸四起。雪灾水难，虫祸地裂，人间疾苦。大魏皇室，暗中权斗，派系倾轧，相互算计。江湖门派，鱼龙混杂，正魔两道，尔虞我诈。李小虎本该安安心心的做魏王府的小王爷，京城的贵公子，奈何明珠没法暗投，真金难以埋没，他终被卷进这斗争的漩涡之中。试问：从一个大魏帝国皇权体系的拥护者、受益者，一个小王爷；到一个誓要颠覆大魏统治的揭竿人、起义人，一个大反贼；需要几步？北门关前，擂鼓点将，战旗飘扬
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/124899/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/4b/4bb85a90515204974f2c95628b613596.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/124899/"
											title="虚空斗神">虚空斗神</a></h4>
									<small class="fs-14 text-muted">DESA</small>
									<p class="fs-12 text-justify hidden-xs">
										天使，恶魔，神仙与妖怪等它们都是真实存在的。它们的之间发动的战争摧毁了一切，人类在这其中苟延残喘下来。在过去了多少年之后，在这微妙的平衡中世界保持着和平，但一个人的苏醒改变了这一切，同时万物的造物主也将归来。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/401319/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/ff/ff890bbf9bc7ff486e54538ae07bcf39.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/401319/"
											title="英雄怎样拥抱爱情">英雄怎样拥抱爱情</a></h4>
									<small class="fs-14 text-muted">作家SAD06L</small>
									<p class="fs-12 text-justify hidden-xs">来阅文旗下网站阅读我的更多作品吧！</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/388819/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/d0/d02c004933d6cd8da96581446ed84e63.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/388819/"
											title="小荷小姐">小荷小姐</a></h4>
									<small class="fs-14 text-muted">San句</small>
									<p class="fs-12 text-justify hidden-xs">小荷小姐的日常故事。</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/304605/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/d8/d8887301062cd30f5cba10eac7b626b7.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/304605/"
											title="东风送我观人间">东风送我观人间</a></h4>
									<small class="fs-14 text-muted">ADREAS</small>
									<p class="fs-12 text-justify hidden-xs">
										所谓早起的鸟儿有虫吃，只不过晚出生那么些年，时世发现......这个世界已经容不下她的饭量了！零星的能量只能够她保持不消亡，为了成长，她只能偷偷摸摸地潜入那些前辈们创造的世界悄咪咪地屯粮......
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/411911/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/6d/6ddd15ae5c3be149bd83b75e738bf61f.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/411911/"
											title="Z末世">Z末世</a></h4>
									<small class="fs-14 text-muted">闷sao猫叔</small>
									<p class="fs-12 text-justify hidden-xs">后来我才发现,只有身处黑暗,才能明白光的美好.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/108133/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/59/59ab43d647ced112fa3c13f579d6580f.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/108133/"
											title="无字天书">无字天书</a></h4>
									<small class="fs-14 text-muted">closeads</small>
									<p class="fs-12 text-justify hidden-xs">
										开卷有益，开无字天书更有益。书中自有颜如玉，书中自有黄金屋，功法体系，天地奥秘，绝世宝贝，神仙妖怪，仙女魔女，红粉妖娆，书中其实都有。所以，严格的说，您能看到的就是一个好学上进的小青年通过不断翻书成为一代高手的故事。所以，准确的说，这是一本教育人们向学和读书的励志小说。第一章无字天书“小兄弟，请留步。”一个衣服邋遢满脸污垢的老头从前面拦住了小开：“我观你双眼无神
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/320255/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/2d/2db48421b171cb3890d9d1c16df02d5c.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/320255/"
											title="在诸天中签到">在诸天中签到</a></h4>
									<small class="fs-14 text-muted">作家SAdqQQ</small>
									<p class="fs-12 text-justify hidden-xs">
										绝望的少年被不知道来自何方的系统带领着在一个个幻想的世界登顶巅峰的故事。主角李叶完全按照自己的心意在一个又一个的异世界完成自己曾经看小说时的各种遗憾。</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/222495/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/public/img/nocover.svg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/222495/"
											title="全职之灵师">全职之灵师</a></h4>
									<small class="fs-14 text-muted">DADSFG</small>
									<p class="fs-12 text-justify hidden-xs">
										一场灾难让少年失去了家人，但是有一场机缘让少年进入了审判会并了解了当年的真相，少年该如何复仇敬请收看每晚9点更新的全职之亡灵</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/445038/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/49/49af05a931ec66fdce223b5eeef53ac8.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/445038/"
											title="偷偷看他">偷偷看他</a></h4>
									<small class="fs-14 text-muted">望空hsa</small>
									<p class="fs-12 text-justify hidden-xs">
										高二二班的纪苏，是馨宁心底藏着的一个秘密。她一直都喜欢他，但从未宣之于口。喜欢看他在篮球场上挥洒汗水，喜欢看他在学习时游刃有余，更喜欢，偷偷看他……又名:《苏宁易“勾”》哈哈哈~
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/410237/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/c2/c232b3530078f7bd359a322a6f27bfe9.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/410237/"
											title="成年有酒">成年有酒</a></h4>
									<small class="fs-14 text-muted">OsAt</small>
									<p class="fs-12 text-justify hidden-xs">
										韵弦和凌鹤阳漫步在海滩夕阳下，对着她说:“我爱你。”真是神奇，因为这一句话他们稀里糊涂地相伴了一生，韵弦从来没对凌鹤阳说:“我也爱你。”韵弦只能在日记里宣泄，但凌会像少年时那样看她的日记吗？会再说出：“我看过你的日记了。”“我也...
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 book-coverlist">
						<div class="row">
							<div class="col-sm-5">
								<a href="http://www.ztwx.net/zt/164629/" class="thumbnail"
									style="background-image:url(http://www.ztwx.net/cover/880c78/63/6333c32470892a13a37e3719092395f3.jpg)"></a>
							</div>
							<div class="col-sm-7 pl0">
								<div class="caption">
									<h4 class="fs-16 text-muted"><a href="http://www.ztwx.net/zt/164629/"
											title="[综]双重人格的你主治医生的我">[综]双重人格的你主治医生的我</a></h4>
									<small class="fs-14 text-muted">HaoAsakura</small>
									<p class="fs-12 text-justify hidden-xs">
										简介：◆主篇幅内容设定：◆CP：齐木楠雄vs赤司征十郎◆无CP主要角色：麻仓好◆赤队专属心理医生攻vs霸道少爷双重人格受◆双赤，人格障碍，强制治疗，强制问答爱！◆赤司征十郎洛山高中一年级！◆齐木楠雄转学后入洛山高中二年级！◆反正主要就是甜甜甜，^_^甜里带刀子，之前全都是甜文模式，不知道刀不刀的起来。◆很重要的提示，请仔细看！◆主角就三个，齐木楠雄，赤司征十郎，麻仓好！放心不存在三角关系，CP就是
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="pages">
			<ul class="pagination" id="pagelink">
				<li class="active hidden-xs"><span>1</span></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=2">2</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=3">3</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=4">4</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=5">5</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=6">6</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=7">7</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=8">8</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=9">9</a></li>
				<li class="hidden-xs"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=10">10</a></li>
				<li class="next"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=2">下一页</a></li>
				<li class="last"><a href="http://www.ztwx.net/search/?searchkey=asadsa&amp;page=10">末页</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!-- footer -->
	<span style="display:none">本页面更新于2021-07-09 16:22:45</span>
	<footer class="footer_880 text-center">
		<p class="hidden-xs">本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
		<p class="hidden-xs">Copyright © 2021 白泽文库 All Rights Reserved.</p>
		<p class="visible-xs">本站所有小说均由程序自动从搜索引擎索引</p>
		<p class="visible-xs">Copyright © 2021 白泽文库</p>
		<div class="clear"></div>
	</footer>
	<div class="back-to-top" id="back-to-top" title="返回顶部" style="right: 10px; bottom: 10%; display: none;">
		<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
	</div>
	<script src="./js/hm.js"></script>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
	<script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
	<script src="./js/common.js"></script>
	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?b9052b6f7b67df16f5c2a9a9fbbd9126";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s)
		})();
	</script>

</body>

</html>